body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7fa;
  color: #333;
}

header {
  background-color: rgb(11, 152, 191);
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.logo span {
  color: #ffd700;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  background-color: rgb(13, 175, 219);
  color: white;
  padding: 4rem 2rem;
  text-align: center;
}

.hero h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
}

.services {
  padding: 3rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.service-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 2rem;
  width: 280px;
  text-align: center;
  transition: transform 0.3s;
}

.service-card:hover {
  transform: scale(1.05);
}

.service-card h3 {
  color: #000000;
}

.contact {
  background-color: #e6f0ff;
  padding: 2rem;
  text-align: center;
}

.contact h2 {
  color: #004080;
}

footer {
  background-color: rgb(13, 175, 219);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 135px;
}

@media (max-width: 768px) {
  .services {
    flex-direction: column;
    align-items: center;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 10px;
  }
  .btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #004080;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
  font-weight: 500;
}

.btn:hover {
  background-color: #0066cc;
}

}

.apply-acc,.btn,.loan-btn,.customer-btn{
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: rgb(13, 175, 219);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
  font-weight: 500;
  cursor: pointer;
}